body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: rgb(42, 44, 59);
}

/* visited link */
a:visited {
    color: rgb(42, 44, 59);
}

/* mouse over link */
a:hover {
    color: rgb(0, 6, 38);
}

#p5-container {
  width: 100%;
  position: absolute;
  top: 80px;
  bottom: 0;
  background-color: rgb(60, 60, 80);
}

.entry-text {
  padding-top: 5;
  padding-bottom: 5;
  font-size: 24px;
  background-color: rgb(239, 242, 247);
  text-align: center;
  width: 100%;
}

#searchbar {
  padding: 4px 6px;
  margin: 14px 10px;
  width: 30%;
  color: rgb(41, 41, 48);
  background-color: rgba(220, 220, 232, 0.71);
  border: 3px solid rgba(43, 58, 82, 0.692);
  /* -webkit-transition: 0.2s;
  transition: 0.2s; */
  outline: none;
  border-radius: 4px;
  font-size: 100%;
}

#searchbar:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 3px solid rgb(0, 6, 38, 0.8);
}

/* Dropdown Button */
.intbtn {
    background-color: #3498DB;
    color: white;
    padding: 15px 20px;
    float:left;
    margin-left: 2%;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.intbtn:hover, .intbtn:focus {
    background-color: #2980B9;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 12px 30px;
    float:left;
    margin-left: 2%;
    margin-top: 10px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
